


   
@font-face 
{
	font-family: 'Source-Han-Norm1f68bc4cf321493';
src: url('//cdn.repository.webfont.com/webfonts/nomal/136339/46863/5e6750a5f629d80c64afb6d7.gif?r=132222757373');
src: url('//cdn.repository.webfont.com/webfonts/nomal/136339/46863/5e6750a5f629d80c64afb6d7.gif?r=132222757373?#iefix') format('embedded-opentype'),
url('//cdn.repository.webfont.com/webfonts/nomal/136339/46863/5e6750a5f629d80c64afb6d7.png?r=132222757373') format('woff2'),
url('//cdn.repository.webfont.com/webfonts/nomal/136339/46863/5e6750a5f629d80c64afb6d7.bmp?r=132222757373') format('woff'),
url('//cdn.repository.webfont.com/webfonts/nomal/136339/46863/5e6750a5f629d80c64afb6d7.jpg?r=132222757373') format('truetype');
font-weight: normal;
font-style: normal;}


@font-face {
  font-family: 'testfont';
  src: url('//harvestseek.github.io/Compilation/wfonts/fonts/webfont.eot'); /* IE9*/
  src: url('//harvestseek.github.io/Compilation/wfonts/fonts/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//harvestseek.github.io/Compilation/wfonts/fonts/webfont.woff2') format('woff2'),
  url('//harvestseek.github.io/Compilation/wfonts/fonts/webfont.woff') format('woff'), /* chrome、firefox */
  url('//harvestseek.github.io/Compilation/wfonts/fonts/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
 // url('/Compilation/wfonts/fonts/webfont.svg') format('svg'); /* iOS 4.1- */
 font-weight: normal;
 font-style: normal;
} 

@font-face {
  font-family: 'webfont';
  src: url('//at.alicdn.com/t/webfont_gh2qssh92wg.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_gh2qssh92wg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/webfont_gh2qssh92wg.woff2') format('woff2'),
  url('//at.alicdn.com/t/webfont_gh2qssh92wg.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/webfont_gh2qssh92wg.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/webfont_gh2qssh92wg.svg#NotoSansHans-DemiLight') format('svg'); /* iOS 4.1- */
}

